<div class="consent-form">
    <div class="consent-form__header">
        <h2>Согласие на обработку данных</h2>
    </div>
    <div class="consent-form__content">
        <p>Для работы виджета необходимо ваше согласие на:</p>
        <ul>
            <li>Доступ к данным сделок</li>
            <li>Доступ к данным контактов</li>
            <li>Передачу данных в Google Docs</li>
        </ul>
        <label class="control-checkbox">
            <div class="control-checkbox__body">
                <input type="checkbox" name="accept_consent" class="control-checkbox__input" required>
                <span class="control-checkbox__helper"></span>
                <span class="control-checkbox__text">
                    Я согласен на обработку данных
                </span>
            </div>
        </label>
    </div>
</div>
