<div class="widget-settings">
  <div class="widget-settings__item-field">
    <div class="widget-settings__title-field">URL Google Apps Script</div>
    <div class="widget-settings__field-wrapper">
      <input type="text" name="google_url" value="{{ google_url }}" class="widget-settings__input text-input" placeholder="Введите URL Google Apps Script">
      <button class="button-input button-input_blue" id="save_url">Сохранить</button>
    </div>
  </div>
    
  <div class="widget-settings__item-field">
    <label class="control-checkbox">
      <div class="control-checkbox__body">
        <input type="checkbox" name="consent" class="control-checkbox__input" required>
        <span class="control-checkbox__helper"></span>
        <span class="control-checkbox__text">
          Согласен на передачу данных из amoCRM в Document Generator
        </span>
      </div>
    </label>
  </div>
</div>
